<!DOCTYPE html>
<html>
<head>
    <title>
        Geek Text
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark indigo mb-4" style="padding-left:35px;">

        <!-- Navbar brand -->
        <a style= "font-family: 'Arial';font-weight: bold;text-decoration: none; font-size: 40px; color: white;" href="https://cen4010geektext.herokuapp.com/">Geek Text</a>

        <!-- Collapsible content -->

    </nav>
</head>
<!--COLORS: Light-gray #9999AA  Mid-gray #555566  Dark-gray #444455 -->
<!--<body class="bg-info" style="overflow-x: hidden; background-color:white";>-->
<body style="overflow-x: hidden; background-color:#555566";>
<div class="row">
    <div class="col-md-6 offset-md-3 rounded" style="background-color: #fff;margin-top: 50px; padding:20px; ">
        {{{body}}}
    </div>
</div>
</body>
</html>