<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create User</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>
<h1 data-position="header">Change Password</h1>

<section> </section>

<section data-position="create-user">
    <h2>Enter old and new Password</h2>

    <form action="/changePassword" method="POST">
        <input type="text" placeholder="Current Password" name="password"/><br>
        <input type="text" placeholder="New Password" name="newPassword"/><br>
        <button type="submit">Update Password</button>
    </form>
</section>

<section> </section>
<section> </section>

<section>
    <form action="/myAccount">
        <button style="width: 100%; background-color: #9090a0;" class="login-button" type="submit">Return to your Account</button>
    </form>
</section>


<script src="/main.js"></script>
</body>
</html>
