<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create Rating</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>
<div data-position="header">
    <h1>Create Rating</h1><a style="float: right; margin-top: -2em" href="/myAccount">Return to My Account</a>
</div>

<section data-position="create-rating">
    <h2>Enter Rating for [TITLE OF BOOK]</h2>

    <form action="/createRating" method="POST">
        
        <button type="submit">Submit</button>
    </form>
</section>

<script src="/main.js"></script>
</body>
</html>
