<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create Comment</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>
<div data-position="header">
    <h1>Create Comment</h1><a style="float: right; margin-top: -2em" href="/myAccount">Return to My Account</a>
</div>

<section data-position="create-comment">
    <h2>Enter Comment for [TITLE OF BOOK]</h2>

    <form action="/createComment" method="POST">
        <input type="text" placeholder="Comment" name="comment"/> <br>
        <button type="submit">Submit</button>
    </form>
</section>

<script src="/main.js"></script>
</body>
</html>
