<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create Rating</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>
<div data-position="header">
    <h1>Create Rating</h1><a style="float: right; margin-top: -2em" href="/myAccount">Return to My Account</a>
</div>

<section data-position="create-rating">
    <h2>Enter Rating Attributes</h2>

    <div class="ratings">
        <p class="pull-right"> reviews</p>
        <p>
            <% for (var i = 0; i < 5; i++) { %>
                <span class="glyphicon glyphicon-star<%= (i < star_rating - 0.5)? '' : '-empty'%>"></span>
            <% } %>
        </p>
    </div>
</section>

<script src="/main.js"></script>
</body>
</html>
