html,
body {
  height: 100%;
}

html {
  font-size: 125%;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 2fr;
  grid-template-areas:
    "header header header"
    "add-quotes update-quote delete-quote"
    "quotes quotes quotes";
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  background-color:#556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
  linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size:120px 210px;
  background-position: 0 0, 0 0, 60px 105px, 60px 105px, 0 0, 60px 105px;
}

[data-position="header"] {
  grid-area: header;
}

[data-position="add-quotes"] {
  grid-area: add-quotes;
}

[data-position="update-quotes"] {
  grid-area: update-quotes;
}

[data-position="delete-quotes"] {
  grid-area: delete-quotes;
}

[data-position="quotes"] {
  grid-area: quotes;
  overflow: scroll;
}

[data-position="login-user"] {

}

/* Custom Classes */

.center-text {
  text-align: center;
}

.login-button {
  background-color: #9090a0b0;
  color: black;
  border: 2px solid #404050;
  width: 50%;
  border-radius: 7.5%;
}

/* End of custom Classes */

[data-position] {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

h1,
h2 {
  margin: 0;
}
